.login-wrapper {
    width: 100%;
    max-width:900px;
    margin:0 auto;
}

.login-form {
    width: 50%;
    max-width: 50%;
}

.img-login {
    width: 50%;
    max-width: 50%;
}

.img-login img{
    width: 100%;
}