<div class="product-details-wrapper" fxLayout="row" fxLayoutAlign="start start">
    <div class="product-image-wrapper">
        <figure class="product-image">
            <img src="/assets/mock.png" alt="Product">
            <figcaption fxLayout="column" fxLayoutAlign="center center">
                <span class="product-title">{{product_title}}</span>
                <span class="product-text">{{product_text}}</span>
            </figcaption>
        </figure>
    </div>
    <div class="reviews">
        <div class="reviews-wrapper">
            <div class="review-field-wrapper">
                <div class="review-field-title">
                    Your review
                </div>
                <div class="line"></div>
                <textarea [formControl]="rate" placeholder="Type your review..."></textarea>
                <div class="review-stars" fxLayout="row" fxLayoutAlign="start center">
                    <ngb-rating class="rating" [max]="5" [(rate)]="currentRate" [readonly]="false"></ngb-rating>
                </div>
                <div class="submit-button" (click)="onSubmitReview()">
                    <button mat-flat-button>SUBMIT REVIEW</button>
                </div>
            </div>
        </div>
        <div *ngIf="(reviews$ | async)" class="reviews-container">
            <div class="review-item" *ngFor="let review of (reviews$ | async)" fxLayout="column" fxLayoutAlign="start start">
                <div class="review-user" fxLayout="row">
                    <span class="review-username"><b>{{review?.created_by.username}}</b></span>
                    <span class="review-time">at {{review?.created_at | date:'h:mm, d MMM y'}}</span>
                </div>
                <span class="review-rate">
                    <ngb-rating class="rating-readonly" [max]="5" [(rate)]="review.rate" [readonly]="true"></ngb-rating>
                </span>
                <span class="review-message"><i>{{review?.text}}</i></span>
            </div>
        </div>
    </div>
</div>